Datasets/
.idea
c.py
testNotebook.ipynb
logs
A1/__pycache__
Notes.md
Modules/glasses_model
B2/__pycache__
B2/glasses_model_Originale
haarcascade_frontalface_default.xml
haarcascade_smile.xml
Viola Jones
haarcascade_profileface.xml
haarcascade_frontalface_alt.xml
haarcascade_frontalface_alt_tree.xml
faceNet.py
__pycache__
_Additional_code/models.py